name: Packages Cleanup

on:
  schedule:
    - cron: "0 6 * * 1"
  workflow_dispatch:

jobs:
  cleanup:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package_name: [
          "eu.vendeli.rethis",
          "eu.vendeli.rethis-jvm",
          "eu.vendeli.rethis-js",
          "eu.vendeli.rethis-linuxx64",
          "eu.vendeli.rethis-mingwx64",
          "eu.vendeli.rethis-macosx64",
        ]
    steps:
      - name: Delete old versions of ${{ matrix.package_name }}
        uses: actions/delete-package-versions@v5.0.0
        with:
          package-type: maven
          package-name: ${{ matrix.package_name }}
          min-versions-to-keep: 10
